* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* div {
    border: 1px solid black;
   
} */

.block-header {
   
    background: url('../imgs/photo.png');
}

.block-header .header{
    min-height: 150px;
    background: rgba(0, 0, 0, 0.6);
}

.block-header .content{
    height: 850px;
}

.block-header .container {
    height: 100%;
}

.logo {
    font-size: 35px;
}

.content {
    font-size: 30px;
}

.content p {
    background-color: rgba(0,0,0,0.4);
}

.footer-01 {
    min-height: 400px;
    background-color: #4bcaff;
}

.line-services {
    height: 2px;
    width: 50px;
    margin-bottom: 30px;
}

.services-text p {
    font-size: 30px;
}

.content-footer {
  padding: 80px 0;
}
.name-item {
    font-size: 20px;
}

/* .content-footer {
    padding: 80px 0; 
} */
.font-14 {
    font-size: 14px;
}

.block2 .header{
    min-height: 150px;
}

/* block2  */
.content-block2 .products {

}
.products .product-item .product{
    width: 260px;
    height: 260px;
    /* background-image: url('../imgs/op1.jpg'); */
    background-size: cover;
    position: relative;
}
.products .product-item:hover .filter{
    width: 260px;
    height: 260px;
    background: rgba(0, 0, 0, 0.7);
    /* opacity: 0.6; */
    position: absolute;
    top: 0;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-item .filter:hover .plus {
    display: block;
}

.plus {
    position: absolute;
    color: white;
    display: none;
    font-size: 40px;
    color: rgb(223, 217, 217);
}